@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(243 244 246); /* Change this to your desired color */
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif; /* Optional: Set a default font */
}
